body{
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}
.header-top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #ddd;
}

.header-img{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 10px 10px 50px;
}

.header-img img{
    margin-right: 30px;
}

.header-img div{
    font-size: 1.5em;
}

.header-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    margin: 10px 50px 10px 10px;
    background-color: white;
}

.header-menu a{
    margin-right: 10px;
    text-decoration: none;
    color: black;
}

#dashboard,#abstract{
    border-right-style: solid;
    border-width: 2px;
    padding-right: 10px;
}

.body-bellow{
    display: flex;
    flex-direction: row;
}

.deal-block{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 50px 30px;
    padding: 30px;
    border: 2px solid black;
    border-radius: 20px;
    width: 30%;
    height: 344px;
}

.deal-block input,select{
    width: 100%;
    height: 40px;
    border-width: 0.5px;
    border-radius: 5px;
    background-color: white;
}

.new-deal,.extract-deal{
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
}

.deal-block button{
    background-color: black;
    color: white;
    height: 40px;
    width: 100%;
    font-size: 1.2em;
    border-radius: 5px;
    cursor: pointer;
}

.resul-deal{
    width: 70%;
    height: 281px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 50px 30px;
}

.extract-deal{
    padding-bottom: 20px;
}

.merc,.shop-value,.sum{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.shop-value, .sum{
    width: 100%;
    font-weight: bold;
}

.merc, .shop-value{
    border-bottom: 1px solid black;
    padding: 20px 0px;
}

.sum{
    border-top: 1px solid black;
    margin-top: 5px;
    padding: 20px 0px
}

.sum div{
    display: flex;
    flex-direction: column;
    text-align: end;
}

#status{
    font-weight: normal;
    font-size: 0.5em;
}