body{
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 0.8em;
}
.header-top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #ddd;
    padding-left: 200px;
    padding-right: 200px;
    font-size: 0.9em;
}

.header-img{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 10px 10px 50px;
}

.header-img img{
    margin-right: 30px;
}

.header-img div{
    font-size: 2em;
}

.header-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    margin: 10px 50px 10px 10px;
    background-color: white;
}

.header-menu a{
    margin-right: 10px;
    text-decoration: none;
    color: black;
}

#hamb-menu{
    visibility: hidden;
    cursor: pointer;
}

#dashboard,#abstract{
    border-right-style: solid;
    border-width: 2px;
    padding-right: 10px;
}

#close-menu{
    visibility: hidden;
}

.body-bellow{
    display: flex;
    flex-direction: row;
    height: 100%;
    padding-left: 200px;
    padding-right: 200px;
}

.deal-block{
    width: 35%;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 50px 30px;
    padding: 30px;
    border: 2px solid black;
    border-radius: 20px;
}

.deal-block input,select{
    width: 100%;
    height: 40px;
    border-width: 0.5px;
    border-radius: 5px;
    background-color: white;
}

.camp-forms em{
    display: none;
    color: red;
}

.new-deal,.extract-deal{
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
}

.deal-block button{
    background-color: black;
    color: white;
    height: 40px;
    width: 100%;
    font-size: 1.2em;
    border-radius: 5px;
    cursor: pointer;
}

.resul-deal{
    width: 65%;
    height: 45%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    margin: 50px 30px;
}

.extract-deal{
    padding-bottom: 20px;
}

.merc,.shop-value,.sum{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.shop-value, .sum{
    width: 100%;
    font-weight: bold;
}

.merc, .shop-value{
    border-bottom: 1px solid black;
    padding: 20px 0px;
}

.sum{
    border-top: 1px solid black;
    margin-top: 5px;
    padding: 20px 0px
}

.sum div{
    display: flex;
    flex-direction: column;
    text-align: end;
}

#statusValue{
    font-weight: normal;
    font-size: 0.5em;
}

#shop, #total{
    padding-left: 13px;
}

.poup-up{
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    position: fixed;
    background-color: #ddd;
    padding: 2%;
    width: 20%;
    height: 15%;
    margin: 17% 38%;
}

.poup-up div{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.poup-up button{
    width: 40%;
    height: 100%;
}


@media screen and (max-width: 1140px){
    .header-top{
        padding-left: 0;
        padding-right: 0;
    }
    .body-bellow{
        padding-left: 0;
        padding-right: 0;
    }
    .poup-up{
        width: 30%;
        height: 15%;
        margin: 20% 35%;
    }

}

@media screen and (max-width: 800px){
    .header-img{
        width: 60%;
        margin: 10px 20px ;
        justify-content: space-between;
    }

    .header-menu{
        display: none;
        position: fixed;
        flex-direction: column;
        height: 100%;
        width: 252px;
        background-color: black;
        right: 0;
        top: 0;
        margin: 0;
        align-items: flex-end;
        font-size: 1.5em;
        padding: 0;
    }
    
    .header-menu a{
        color: white;
        margin: 0;
        padding: 8px 10px;
    }

    #dashboard:hover, #abstract:hover, #salve-server:hover{
        transition:All 1s ease;
        -webkit-transition:All 1s ease;
        -moz-transition:All 1s ease;
        -o-transition:All 1s ease;
        background-color: white;
        color: black;
    }

    #dashboard{
        padding-left: 140px;
        border-right-style: none;
    }

    #abstract{
        padding-left: 65px;
        border-right-style: none;
    }

    #salve-server{
        padding-left: 106px;
    }

    #close-menu{
        visibility: visible;
        font-size: 1.3em;
        margin-right: auto;
        padding-top: 20px;
        padding-left: 20px;
    }

    #hamb-menu{
        visibility: visible;
        padding: 10px 20px;
        height: 30px;
        width: 30px;
    }

    .body-bellow{
        flex-direction: column;
        align-items: center;
    }

    .deal-block{
        width: 85%;
        height: 100%;
        margin: 10px;
    }

    .deal-block button{
        width: auto;
        margin-left: auto;
    }

    .camp-forms{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        flex-flow: row wrap;
    }

    .style-type-deal select{
        width: 150px;
    }

    .name-merc{
        width: 250px;
    }

    .value-merc{
        width: 150px;
    }

    .resul-deal{
        width: 80%;
        margin: 10px;
    }
    .poup-up{
        width: 30%;
        height: 15%;
        margin: 25% 32%;
    }
}

@media screen and (max-width: 650px){
    .deal-block{
        margin: 10px;
        padding: 50px 0px;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-bottom: 1px solid #000;
        border-radius: 0;
    }

    .header-img{
        width: 62%;
        justify-content: space-between;
    }

    .header-img div{
        font-size: 1.8em;
    }

    .camp-forms{
        display: unset;
        padding: 20px 0px;
    }

    .style-type-deal select, .name-merc, .value-merc{
        padding-bottom: 10px;
        padding-top: 10px;
        width: 100%;
    }

    .deal-block button{
        width: 100%;
        margin-left: 0;
    }
    .poup-up{
        width: 40%;
        height: 20%;
        margin: 40% 27%;
    }

}
